@charset "UTF-8";   

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
}

body{
    background: url('../imagens/fundo-madeira.jpg') top center no-repeat  fixed;
    background-size: cover;

}

main{
    height: 100vh;
    position: relative;

}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 311px;
    height: 627px;
    background: url('../imagens/frame-iphone.png') no-repeat;

}

iframe#tela{
    position: relative;
    top: 81px;
    left: 23px;
    width: 265px;
    height: 470px;
}

section#redes-sociais{
    text-align: right;
}


section#redes-sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box; /*ESSA CONFIGURAÇÃO FAZ COM QUE O TAMANHO DA BORDA FAÇA PARTE DO TAMANHO DO OBJETO*/
}

section#redes-sociais img:hover{
    border: 3px solid rgb(255, 255, 255, 0.637);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);
    transition: transform 300ms, border 500ms;
}